* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background-color: #4633b0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
li,
h1,
h3,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
}

h3 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#wrapper {
  padding: 2rem;
  background-color: white;
  width: 85%;

  border-radius: 5px;
  margin: auto;
  margin-top: 5vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#addButton {
  width: 24px;
  height: 24px;
  background-color: #5032F0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;
}

#plusIcon {
  width: 12px;
  height: 12px;
}


ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.renderedList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1rem;
}

.left {
  display: flex;
  gap: 1rem;
}

.removeIcon {
  background-image: url(assets/circle-xmark-regular.svg);
  height: 1em;
  width: 1em;
}

.checked {
  text-decoration: line-through;
}

.finalRow {
  display: flex;
  gap: 1rem;
}

#inputField {
  flex-grow: 1;
  padding: 0.5rem;
  border: solid 1px darkgrey;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: #5032F0;
  }
}

button {
  width: 5rem;
  background-color: #5032F0;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
  accent-color: #5032F0;
}

img {
  height: 200px;
}

a {
  position: absolute;
  bottom: 5px;
  color: rgba(255, 255, 255, 0.852);
}
